<div class="landing-container">
  <h1 class="landing-title">Your AI Mental Health Companion</h1>
  <p class="landing-subtitle">
    Track your mood, get personalized support, and improve your mental wellness with the help of AI.
  </p>

  <div class="landing-buttons">
    <a routerLink="/register" class="btn-primary">Get Started</a>
    <a routerLink="/login" class="btn-secondary">I Already Have an Account</a>
  </div>

 <img src="/assets/landingbg.png" alt="Mental Health AI" class="landing-image" />

</div>
